@charset "utf-8";

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') 
        format('woff');
    font-weight: normal;
    font-style: normal;
}

*{box-sizing: border-box;}

body{font:normal 15px/1.5em 'SpoqaHanSansNeo-Regular',sans-serif; color: #222;}

a{color: #222;}

.clear::after{
    content: "";
    clear: both;
    display: block;
}

/* 767이하 */
@media screen and (max-width:767px){
    .min_w{max-width: 767px; min-width: 320px; overflow: hidden;}

    .top1, .top_back, .h_search{display: none;}

    .top2{
        width: 100%;
        height: 65px; 
        background-color: #fff;
        border-bottom: 1px solid #516592;
        position: fixed;
        z-index: 5;
    }

    #t_m_menu{float: left; padding: 22px 0 0 10px;}
    #t_m_menu img{width: 25px; height: 18px;}

    #h_logo{
        position: absolute; 
        top: 50%; left: 50%; 
        transform: translate(-50%, -50%); 
        padding-top: 5px;
    }
    #h_logo a{display: block;}
    #h_logo img{width: 90px; height: 30px;}

    /* 회원가입... */
    .h_join{float: right; padding-top: 18px; margin-right: 14px;}
    .h_join li{float: left; width: 30px; height: 30px; margin-left: 20px;}
    .h_join li:nth-child(1), .h_join li:nth-child(2){display: none;}
    .h_join li:nth-child(3){background: url(../img/t_m_lang.png) no-repeat center; margin-left: 0; background-size: 30px;}
    .h_join li:nth-child(4){background: url(../img/t_m_search.png) no-repeat center; background-size: 30px;}
    .h_join li a{display: block; width: 100%; height: 100%; font-size: 0;} 

    /* 모바일 내비 */
    #t_m_nav_wrap{
        width: 80%; 
        height: auto; 
        background-color: #fff;
        position: fixed; left: 0; top: 0; 
        z-index: 10;
    }

    .t_m_nav_top{
        width: 100%; 
        height: 70px;
        background: #fff; 
        border-bottom: 3px solid #dadada; 
        position: relative;
    } 

    .close_btn{position: absolute; left: 25px; top: 24px; cursor: pointer;}
    .close_btn img{width: 24px; height: 24px;}

    .t_m_nav1{float: right; height: 100%; margin-right: 45px;}
    .t_m_nav1 li{float: left; line-height: 70px; margin-left: 20px;}
    .t_m_nav1 li a{display: block; font-size: 16px; font-weight: bold;}

    .t_m_nav2{width: 100%; height: 100%;}
    .t_m_nav2 li{
        width: 100%; 
        height: 52px; 
        line-height: 52px; 
        border-bottom: 1px solid #dadada;
    }
    .t_m_nav2 li a{display: block; color: #111;}
    .t_m_nav2 > li > a > span{
        background: url(../img/more.png) no-repeat right center; 
        background-size: 15px;
        display: block; 
        width: 87%; 
        margin: 0 auto;
    }

    .sns{
        width: 100%; 
        height: 105px; 
        padding-left: 45px; 
        padding-top: 30px;
    }
    .sns li{
        width: 43px; 
        height: 43px; 
        display: inline-block;
        margin-right: 10px;
    }
    .sns li a{display: block; width: 100%; height: 100%;}
    .sns li a img{vertical-align: top;}

    #t_m_back{
        width: 100%; 
        height: 100%; 
        background-color: rgba(0,0,0,0.8);
        position: fixed; 
        left: 0; top: 0; z-index: 9;
    }
    
    /* 메인 비주얼 배너*/
    #main_v{width: 100%; height: 540px; position: relative;}
    .bx-wrapper{margin: 0;}    
    .main_v_bn1{width: 100%; height: 540px; background: url(../img/main1.jpg) no-repeat 50%;}
    .main_v_bn2{width: 100%; height: 540px; background: url(../img/main2.jpg) no-repeat 29%;}
    .main_v_bn3{width: 100%; height: 540px; background: url(../img/main3.jpg) no-repeat 28%;}
    .main_v_bn4{width: 100%; height: 540px; background: url(../img/main4.jpg) no-repeat 31%;}

    #main_v_list{
        position: absolute; 
        left: 50%; 
        bottom: 35px; 
        transform: translate(-50%,0); 
        z-index: 2;
    }
    #main_v_list a{ 
        display: block; 
        float: left; 
        width: 25px; 
        height: 4px; 
        margin: 0 8px; 
        background-color: #fff; 
        opacity: 0.5; 
        font-size: 0; 
        box-shadow: 2px 2px 2px #333;
    }
    #main_v_list a.active{opacity: 1;}

     /* 컨텐츠 영역 */
    .cont_wrap{background: url(../img/cont_bg.png) no-repeat right center;}
    .cont_center{width: 98%; margin: 0 auto;}

    /* 위클리베스트 */
    .cont1_text{padding: 100px 0 0 30px; position: relative;}
    .cont1_text > h3{
        font-size: 30px; 
        height: 34px; 
        line-height: 34px; 
        margin-bottom: 20px;
    }
    .best_type{width: 450px;}
    .cont1_text > .best_type > li{
        display: inline-block; 
        margin-right: 25px; 
        font-size: 18px;
    }
    .cont1_text > .best_type > li:last-child{margin-right: 0;}
    .best_type_on{background: rgba(84,193,188,0.7); transition: all 0.5s;} 
    .cont1_text > .best_type > li > a{display: block;}

    .cont1_arrow{position: absolute; right: 0; bottom: 0;}
    .cont1_arrow > li{display: inline-block; margin-right: 15px;}

    .cont1_prod{width: 100%; padding: 30px 0 270px;}
    .cont1_wrap{display: flex; flex-wrap: wrap; justify-content: center;}
    .cont1_wrap > li{
        width: calc(50% - 40px);
        height: auto; 
        float: left; 
        border-radius: 15px; 
        text-align: center; 
        font-size: 14px;
        cursor: pointer;
    }
    .cont1_wrap > li:nth-child(odd){margin-right: 20px;}
    .cont1_wrap > li:nth-child(1), .cont1_wrap > li:nth-child(2){margin-bottom: 20px;}
    .cont1_wrap > li > img{
        width: 100%; 
        height: auto; 
        padding: 10px; 
        border-radius: 15px;
        border: 3px solid #e4e5f3; 
        background-color: #fff;
    } 
    .cont1_wrap > li > span{display: block; margin: 10px; font-size: 16px;}

    /* 종목별 보기 */
    .cont2_prod{width: 100%; background-color: #f5f9fc;}
    .cont2_wrap{
        width: 95%; 
        position: relative; 
        bottom:150px;
    }
    .cont2_wrap > h3{
        font-size: 30px; 
        height: 50px; 
        line-height: 50px; 
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .item_left{
        background-color: #fa6e91; 
        padding:25px;
        border-radius: 15px;  
        color:#fff;
        overflow: hidden;
    }
    .item_left > img{
        width: 70%;
        display:block;
        margin:0 auto;
        border-radius: 15px;
    }
    .item_left_text{width:100%; text-align:center;}
    .item_left_text p{
        height: 40px;
        line-height: 40px;
        margin:10px 0;
        font-size: 26px; 
        font-weight: bold; 
        text-indent: 10px;
    }
    .item_left_text span{font-size:16px;}
    .item_left_text a{
        display: block; 
        width: 60%; 
        padding: 15px;
        background-color: #fff;
        background-image:none;
        color:#fa6e91; 
        font-size: 20px;
        margin: 20px auto;       
        border-radius: 15px;
    }

    .item_right{width: 100%;}
    .item_right ul{
        width: 100%;
        display: flex; 
        flex-wrap:nowrap; 
        justify-content: space-between; 
        padding-top: 45px;
    }
    .item_right ul li{
        width: calc(25% - 10px);
        padding-bottom: 20px;
        background-color: #fff; 
        float: left; 
        text-align: center; 
        border-radius: 15px;
    } 
    .item_right ul li img{width: 80%;}
     .item_right ul li p{
        text-indent: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-break: break-all;
    }
    .item_right ul li span{font-size:12px; color:#aaa;}

    /* MD 추천 */
    .cont3_prod{margin-top: 300px;}
    
     /* 배너 */
    .banner{
        margin-top: 150px;
        margin-bottom: 100px;
        clear: both;
    }
    .banner > div{
        width: 100%; 
        height: 160px; 
        border-radius: 15px;
        overflow: hidden;
    }
    .banner > div:first-child{
        background: url(../img/banner1.png) no-repeat right bottom;
        background-size: cover;
        margin-bottom: 10px;
    }    
    .banner > div:last-child{
        background: url(../img/banner2.png) no-repeat top right;
        background-size: cover;
    }
    .banner > div a{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    /* 이벤트 */
    #event{height: 300px;}
    #event > ul{width:95%; margin:0 auto;}
    #event > ul > li{
        float: left;
        width: 49%;
        height: 100px;
        line-height: 100px;
        padding:0 10px;
        background-color: #fff;
        text-align: center;
        letter-spacing: -0.2px;
        font-weight: bold;
        border-radius: 15px;
        box-shadow: 0 0 7px rgba(163, 170, 187, 0.3);
        margin-bottom: 10px;
        overflow:hidden;
    }
    #event > ul > li:nth-child(odd){float: left;}
    #event > ul > li:nth-child(even){float: right;}
    #event > ul > li:nth-child(3), .cont1_wrap > li:nth-child(4){margin-bottom:0;}
        
    #event > ul > li > a{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        font-size:14px;
    }
    #event > ul > li > a:active{background-color: #6cd2cd; color: #fff;}
    
     /* footer */
    #bottom{
        width: 100%;
        background-color: #36373c;
        color:#fff;
    }
    .footer_cont{padding: 50px 0; width: 90%;}
    .footer_cont > h3{display: none;}
    .footer_cont > h3 > img{margin-bottom: 60px;}
    .footer_cont > div{display: inline-block; font-size:12px;}
    
    .footer_sns li{
        display: inline-block;
        margin-right: 10px;
    }
    .footer_sns li:last-child{margin-right: 0;}
    
    .use{margin: 5px 0;}
    .use span::after{
        content:" | ";
        font-size:10px;
        margin: 0 10px;
    }
    .use span:last-child::after{
        content:"";
        margin: 0;
    }
    .use a{
        color: #fff;
        font-weight: normal;
    }
    .time span{display: block;}
    .adress{margin-top: 5px;}
    
    /* top 버튼 */
    #top_btn{
        position: fixed;
        right: 20px;
        bottom: 20px;
        z-index: 3;
    }
    






}