@charset "utf-8";

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') 
        format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes txt_ani{
  0%{left:0;}
  100%{left:-100%;}  
}

/* 공통 */
*{box-sizing: border-box;}

body{font:normal 15px/1.5em 'SpoqaHanSansNeo-Regular',sans-serif; color: #222;}

a{color: #222;}

.clear::after{
    content: "";
    clear: both;
    display: block;
}

/* 1200이상 */
@media screen and (min-width:1200px){
    .min_w{min-width: 1200px;}

    /* header */
    #top{
        width: 100%; 
        height:auto; 
        position: relative;
    } 

    /* 민트 */
    .top1_wrap{
        width: 100%; 
        height: 50px; 
        background-color: #6cd2cd; 
        position: relative; 
        z-index: 99;
    }
    .top1, .top2{width: 1200px; margin: 0 auto;}
    .top1{position: relative;}
    .top1_wrap p{
        float: left;
        line-height: 50px; 
        color: #fff; 
        font-size: 15px;
    }
    .notice{
        position: absolute;
        right: 0;
        width: 500px;
        height: 60px;
        overflow: hidden;
    }
    .notice p{
        position: absolute;
        right: -700px;
        animation:txt_ani 10s linear infinite;
        font-size:13px;
        color: #999;
    }

    /* 블랙 */
    .top_back{
        width: 100%;  
        height: 60px; 
        background-color: #000; 
        position: fixed; top: 0; left: 0; 
        z-index: 90;
    }
    .top_back ul{
        width: 1200px; 
        margin: 0 auto; 
        display: flex; 
        justify-content: space-around;
    }
    .top_back ul li{
        float: left; 
        width: 170px; 
        height: 60px; 
        text-align: center;
    }
    .top_back ul li a{
        color: #fff; 
        display: block; 
        width: 80%; height: 80%; 
        margin-top: 6px; 
        line-height: 49px; 
        transition: all 0.3s;
    }
    .top_back ul li a:hover{background-color: #6cd2cd; border-radius: 10px;}

    /* 화이트 */
    .top2{height: 89px; position: relative;}
    #t_m_menu{display: none;}

    #h_logo{display: inline-block; padding-top: 30px;}
    .top2 h1 a{display: block;}

    /* 제품검색 */
    .h_search{
        width: 400px; 
        height: 42px; 
        background: #000; 
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        background: url(../img/search_btn.png) no-repeat right; 
        border-bottom: 2px solid #222;
    }
    .h_search input{
        border: none; outline: none; 
        width: 94%; height: 100%; 
        text-align: center; 
        background-color: transparent;
    }

    /* 회원가입... */
    .h_join{float: right; padding-top: 30px;}
    .h_join li{float: left; width: 40px; height: 60px; text-align: center;}
    .h_join li:nth-child(1){background: url(../img/user.png) no-repeat center 0;}
    .h_join li:nth-child(2){background: url(../img/login.png) no-repeat center 0;}
    .h_join li:nth-child(3){background: url(../img/lang.png) no-repeat center 0;}
    .h_join li:nth-child(4){display: none;}
    .h_join li a{
        display: block; 
        padding-top: 22px;
        font-size: 12px; 
        color:#222;
    } 

    #t_m_nav_wrap{display: none;}

    /* 메인 비주얼 */
    #main_v{width: 100%; height: 540px; position: relative;}
    .main_v_bn1{width: 100%; height: 540px; background: url(../img/main1.jpg) no-repeat center;}
    .main_v_bn2{width: 100%; height: 540px; background: url(../img/main2.jpg) no-repeat right;}
    .main_v_bn3{width: 100%; height: 540px; background: url(../img/main3.jpg) no-repeat right;}
    .main_v_bn4{width: 100%; height: 540px; background: url(../img/main4.jpg) no-repeat right;}

    #main_v_list{
        position: absolute; left: 50%; bottom: 25px; 
        transform: translate(-50%,0); 
        z-index: 10;
    }
    #main_v_list a{ 
        display: block; 
        float: left; 
        width: 50px; height: 4px; 
        margin: 0 8px; 
        background-color: #fff; 
        opacity: 0.5; 
        font-size: 0; 
        box-shadow: 2px 2px 2px #333;
    }
    #main_v_list a:hover, #main_v_list a:active{opacity: 1;}
    #main_v_list a.active{opacity: 1;}/*js*/

    /* 컨텐츠 영역 */
    .cont_wrap{background: url(../img/cont_bg.png) no-repeat right center;}
    .cont_center{width: 1200px; margin: 0 auto;}

    /* 위클리베스트 */
    .cont1_text{padding-top: 100px; position: relative;}
    .cont1_text > h3{font-size: 34px; margin: 30px 0;}
    .cont1_text > .best_type > li{
        display: inline-block; 
        height: 25px; 
        margin-right: 30px; 
        font-size: 20px;
    }
    .cont1_text > .best_type > li:last-child{margin-right: 0;}
    .best_type_on{background: rgba(84,193,188,0.7); transition: all 0.5s;} 
    .cont1_text > .best_type > li > a{display: block;}

    .cont1_arrow{position: absolute; right: 0; bottom: 0;}
    .cont1_arrow > li{display: inline-block; margin-right: 15px;}

    .cont1_prod{padding: 30px 0 300px 0;}
    .cont1_wrap{
        width: 1200px; 
        display: flex; 
        flex-wrap: nowrap; 
        justify-content: space-between;
    }
    .cont1_wrap > li{
        width: calc(25% - 15px); 
        height: auto; 
        float: left; 
        border-radius: 15px; 
        text-align: center; 
        font-size: 16px;
        cursor: pointer; 
    }
    .cont1_wrap > li > img{
        width: 100%; 
        height: auto; 
        padding: 10px; 
        border-radius: 15px; 
        border: 3px solid #e4e5f3; 
        background-color: #fff;
    } 
    .cont1_wrap > li > span{display: block; margin: 30px;}

    /* 종목별 보기 */
    .cont2_prod{width: 100%; height: 530px; background-color: #f5f9fc;}
    .cont2_wrap{position: relative; bottom:150px;}
    .cont2_wrap > h3{font-size: 34px; height: 50px; line-height: 50px; margin-bottom: 30px;}
    .cont2_wrap > div{float: left;}
    
    .item_left{
        width: 30%;
        height: 530px; 
        background-color: #fa6e91; 
        padding-top: 40px; 
        border-radius: 15px;  
        text-align: center; 
        color:#fff;
    }
    .item_left > img{
        width: 250px; 
        height: 250px; 
        display: block; 
        margin: 0 auto; 
        border-radius: 15px;
    }
    .item_left_text p{
        font-size: 28px; 
        font-weight: bold; 
        margin: 20px;
    }
    .item_left_text span{display: block; margin-bottom: 35px;}
    .item_left_text a{
        display: inline-block;
        width: 120px; 
        background: url(../img/item_more.png) no-repeat right center; 
        color:#fff; 
        font-size: 20px; 
        text-align: left; 
        padding: 15px;
    }

    .item_right{
        width: 70%; 
        padding-top: 200px;
    }
    .item_right ul{
        display: flex; 
        flex-wrap:wrap; 
        justify-content: space-between;
        padding-left: 10px;
    }
    .item_right ul li{
        width: calc(25% - 10px);
        height: 220px;
        padding-bottom: 20px;
        background-color: #fff; 
        text-align: center;
        border-radius: 15px;
        box-sizing:border-box;
    } 
    .item_right ul li:hover{
        border: 5px solid #fca7bc;
        cursor: pointer;
    }
    .item_right ul li img{width: 150px;}
    .item_right ul li p{font-size:16px;}
    .item_right ul li span{color: #aaa;}
    
    
    /* MD 추천 */
    .cont3_prod{margin-top: 300px;}
    
    /* 배너 */
    .banner{
        margin-top: 150px;
        margin-bottom: 100px;
        clear: both;
        display: flex;
        justify-content: space-between;
    }
    .banner > div{
        width: 50%; 
        height: 250px; 
        border-radius: 15px;
        overflow: hidden;
    }
    .banner > div:first-child{
        background: url(../img/banner1.png) no-repeat right;
        background-size: cover;
        margin-right: 10px;
    }    
    .banner > div:last-child{
        background: url(../img/banner2.png) no-repeat center right;
        background-size: cover;
    }
    .banner > div a{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    /* 이벤트 */
    #event{margin: 100px auto;}
    #event > ul{
        height: 90px;
        display: flex;
        justify-content: space-between;
    }
    #event > ul > li{
        width: calc(25% - 30px);
        height: 90px;
        background-color: #fff;
        text-align: center;
        line-height: 90px;
        font-size: 18px;
        letter-spacing: -0.2px;
        font-weight: bold;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(163, 170, 187, 0.5);
    }
    #event > ul > li > a{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    #event > ul > li > a:hover{background-color: #6cd2cd; color: #fff;}

    /* footer */
    #bottom{
        width: 100%;
        background-color: #36373c;
        color:#fff;
    }
    .footer_cont{padding: 50px 0;}
    .footer_cont > h3{display: inline-block; margin-right: 100px;}
    .footer_cont > h3 > img{margin-bottom: 60px;}
    .footer_cont > div{display: inline-block; font-size:12px;}
    
    .footer_sns li{
        display: inline-block;
        margin-right: 10px;
    }
    .footer_sns li:last-child{margin-right: 0;}
    
    .use{margin: 5px 0;}
    .use span::after{
        content:" | ";
        font-size:10px;
        margin: 0 10px;
    }
    .use span:last-child::after{
        content:"";
        margin: 0;
    }
    .use a{
        color: #fff;
        font-weight: normal;
    }
    .time span{display: block;}
    .adress{margin-top: 5px;}
    
    #top_btn{display: none;}





}